body{
background: #940baf;
}

p{
    color:#0eb4b9;
    text-align: center;
}

h1{
    color: #f0ed49;
    letter-spacing: normal;
}

div{
    background-color: cornflowerblue;
    color: darkgreen;
    line-height: normal;
}